html,
body {
    min-height: 100%
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: #25574b;
}

#canvas {
    min-width: 1000px;
    min-height: 600px
}

#legend {
    min-width: 1000px;
    min-height: 200px
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
}